[submodule "abolish"]
	path = abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "rake"]
	path = rake
	url = git://github.com/tpope/vim-rake.git
[submodule "sensible"]
	path = sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "obsession"]
	path = obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "camelcasemotion"]
	path = camelcasemotion
	url = git://github.com/vim-scripts/camelcasemotion.git
[submodule "pandoc"]
	path = pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "fontsize"]
	path = fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
[submodule "bundler"]
	path = bundler
	url = git://github.com/tpope/vim-bundler.git
