[submodule "abolish"]
	path = abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "rake"]
	path = rake
	url = git://github.com/tpope/vim-rake.git
